a {
    text-decoration:  none;
    color:  gray;
}

.head {
  background: rgba(50, 5, 22) ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  height: 3.5rem;
  z-index: 997;
  position: sticky;
  top: 0;
}

.nav {
  font-size: 17.6px;
  font-size: 1.1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  transition: 0.2s ease;
  color:  white;
}

@media (min-width: 540px) {
  .nav {
    font-size: 17.6px;
    font-size: 1.1rem;
    margin-right: 1rem;
    margin-lef: 1rem;
    transition: 0.2s ease;
  }
}
