.trackContainer {
    padding: 0.4rem 1.5rem;
    display: grid;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    justify-items: flex-start;
    grid-template-columns: 0.5fr 0.7fr 4fr 3fr 1fr 1fr;
}

.trackName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:  white;
    margin-bottom:  0.2rem;
    max-width:  100%;
}

.albumTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artistName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:  gray;
    font-size:  0.9rem;
}

.playIcon {
    height:  2.7rem;
    transition:  0.2 ease;
}

.smallIcon {
    height:  1.3rem;
    width: 1.3rem;
    transition:  0.2 ease;
}

.heartIcon {
    height:  1.3rem;
    width: 1.3rem;
    margin-left: 0.8rem;
    transition:  0.2 ease;
}

.fullHeartIcon {
    height:  1.3rem;
    width: 1.3rem;
    margin-left: 0.8rem;
    transition:  0.2 ease;
    color: rgb(227, 77, 134);
    fill: rgb(227, 77, 134);
}

.smallCover {
    height:  3rem;
}

.buttonsContainer {
    color: gray;
    display:  flex;
    justify-self: end;
}

.buttonsContainer a:last-child {
    margin-left: 0.8rem;
}

@media (hover: hover) {
    .trackContainer:hover {
        border: none;
        border-radius:  5px;
        background-color:  rgba(255, 255, 255, 0.2);
        color: white;
    }

    .playIcon:hover {
        fill:  rgb(227, 77, 134);
        cursor:  pointer;
        color: white;
    }

    .smallIcon:hover {
        color:  rgb(227, 77, 134);
        cursor:  pointer;
    }

    .heartIcon:hover {
        color:  white;
        fill:  rgb(227, 77, 134);
        cursor:  pointer;
    }

    .fullHeartIcon:hover {
        color:  white;
        cursor:  pointer;
    }
}
