.container {
    position: sticky;
    top: 3.5rem;
    background:  black;
}

.headerGrid {
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    justify-items: flex-start;
    grid-template-columns: 0.5fr 0.7fr 4fr 3fr 1fr 1fr;
    padding: 0.4rem 2.5rem;
    border-bottom:  1px solid rgb(51, 51, 51);
}

.clock {
    height: 1.3rem;
    width: 1.3rem;
}

.deezer {
    height: 1.8rem;
    width: 1.8rem;
    justify-self: flex-end;
}
